@import "colors.scss";
@import "fonts.scss";

body {
  margin: 0;
  background-color: $black;
  padding: 0;
  color: $white;
  font-family: sans-serif;
  font-size: $font-size-regular;
}

.container {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1024px;
}
