@import "shared/colors.scss";
@import "shared/fonts.scss";

.collection {
  &__container {
    border-radius: 16px;
    background-color: $white;
    padding: 24px;
    max-width: 600px;
    color: $black;
  }

  &__coin {
    font-weight: bold;
  }

  &__ticker {
    margin-right: 6px;
  }

  &__address {
    color: $highlight-primary;
  }

  &__coins {
    margin: 16px 0;
  }

  &__subtitle {
    margin: 40px 0;
  }
}
